.width-100 {
    width: 100%;
    max-width: 1200px;
}

.width-80 {
    width: 80%;
    max-width: 1200px;
}

.width-30 {
    width: 30%;
    max-width: 1200px;
}

.banner-main, .banner-main a, .banner-main img {
    display: block;
    width: 100%;
}

.breadcrumb {

}

.breadcrumb > *:not(:first-child):before {
    content: '/ ';
}

.link {
    color: var(--color-text-blue);
    text-decoration: underline;
}

section > h2, section > h3 {
    text-align: center;
    font-weight: bold;
}

section > h2 {
    margin-top: 80px;
    margin-bottom: 16px;
}
