ul {
    margin: unset;
    padding: unset;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    outline: none;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.button {
    display: block;
    padding: 10px 16px;
    color: var(--color-text-white);
    background-color: var(--color-button);
    border: 0;
}

label, input, textarea {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.input {
    padding: 4px 8px;
}
