@media screen and (max-width: 1200px){
  #footer .list_1 .logo{zoom:0.7; -moz-transform: scale(0.7);}
  #footer h3{font-size: 13px;}
  #footer .list_2 ul li a{font-size: 13px;}
  #footer .list_5 .link_2{font-size: 13px; line-height: 17px; display: inline-block; vertical-align: top;}
  #footer .list_2 .link_1{font-size: 13px;}
  .reliable h2{font-size: 35px;}
  .territory .item_1 .text a + a{margin-left: 0; margin-top: 20px;}
  .territory .item_1 .text a{display: block; text-align: center;}
  .speech .container .pic_1{right: 0;}
  .catalog .item p{max-width: 130px;}
  .catalog .item > div{width: 220px;}
  .probe .probe_block .pic_1{zoom: 0.7; -moz-transform: scale(0.7); right: 40px;}
  .product .slider_4 .owl-prev{left: 0;}
  .product .slider_4 .owl-next{right: 0;}
  .product .slider_4 .slide p{text-align: center;}
  .aside .block{padding: 10px;}
  .aside .block img{zoom: 0.8; -moz-transform: scale(0.8);}
  .aside .block_2 img{zoom: 0.7; -moz-transform: scale(0.7); top: 50px;}
  .aside .block_2{height: 140px;}
  .about .list_2 .item_7 .block .image_block{width: 100%;}
  .about .list_2 .item_9 .block .block_1 .image_block{width: 100%;}
  .result .item .image_block{margin-right: 5px; zoom:0.8; -moz-transform: scale(0.8);}
  .result .item p{font-size: 14px; line-height: 18px;}
  .catalogue .list_2 .row_2 .block .text::after{display: none;}
}

@media screen and (max-width: 1100px){
  #header .header_top .logo{zoom: 0.9; -moz-transform: scale(0.9);}
  #header .header_top .link a{font-size: 14px; line-height: 17px;}
  #header .header_top .link_1 a{font-size: 14px; line-height: 17px;}
  #header .header_top form{width: 280px;}
  #header .header_top .link a::before{zoom:0.9; -moz-transform: scale(0.9);}
  #header .header_bot a{font-size: 14px; line-height: 17px;}
  .map h2 em{display: none;}
  .map h2 i::before{display: none;}
  .product .slider_4{width: 100%;}
}

@media screen and (min-width: 992px){
	.new .item_3{max-width:270px;}
	.new .item_3 .image_block + .image_block{margin-top: 20px;}
}

@media screen and (max-width: 992px){
  .header_abs{position: static;}
  .new{padding-top: 20px;}
  #header .header_bot{padding: 0; background-color: #transparent; box-shadow: none;}
	.new .item_3{display:flex; justify-content:space-between; margin-top:20px;}
  #header .header_top .row{justify-content: center !important;}
  #header .header_top .logo{zoom: 1; -moz-transform: scale(1); margin-left: 70px;}
  #header .header_top .link a::before{zoom:1; -moz-transform: scale(1);}
  #header .header_top form{width: 100%;}
  #header .header_top .link{margin-top: 30px;}
  #header .header_top .link_1{margin-top: 30px;}
  #header .container .burger > div{background-color: #000; width: 25px; height: 3px; margin-bottom: 5px;}
  #header .container .burger{position: absolute; display: block; width: 25px; height: 25px; cursor: pointer; margin-bottom: 5px; top: 10px; left: 15px; z-index: 600;}
  #header .container .burger.cross{background: url(../img/cross.svg) no-repeat; background-size: contain; width: 25px; height: 25px; left: 15px; top: 10px; z-index: 100;}
  #header .container .burger.cross > div{display: none;}
  #header .header_bot .menu{display: none;}
  #header .header_bot .menu.active{display: block; position: absolute; width: 260px; padding: 10px 0 10px 10px; background-color: rgba(0,81,170,0.7); transition: 0.4s; z-index: 900; left: -360px; top: -90px; left: 0;}
  #header .header_bot a.item_1::before{display: none;}
  #header .header_bot .menu.active li a{color: #fff; display: block; padding: 15px 0;}
  #header .header_bot .menu.active li:hover{background-color: #0051aa;}
  #header .header_bot a::after{display: none !important;}
  #header .header_bot .list_1 .menu_list{width: 280px; padding: 10px 0 10px 10px; top: 0; left: 260px;}
  #header .header_bot .list_1 .menu_list li + li{margin-top: 0;}
  #footer .row{justify-content: center !important;}
  #footer{height: auto; margin-top: 0;}
  #subfooter{display: none;}
  #footer .list_4{margin-top: 30px;}
  #footer .list_5{margin-top: 30px; text-align: right;}
  .photo .col-lg-2{padding: 0 15px;}
  .reliable h2 i::before{display: none;}
  .reliable .tabs_links ul li{width: 100%;}
  .reliable .item_2{margin-top: 20px;}
  .territory .item_1 .link{margin-top: 0;}
  .territory h2{margin-bottom: 30px;}
  .territory .item_2 .block{margin: 30px auto 0;}
  .speech .container .pic_1{position: static; margin: 0 auto 20px;}
  .speech .list{margin: 0 auto; box-sizing: border-box;}
  .speech .list_1{margin: 0 auto; box-sizing: border-box;}
  .catalog .item > div{width: 100%;}
  .decision .row{justify-content: center;}
  .new .list_3 .col-lg-2{margin-bottom: 30px;}
  .team .row{justify-content: center; margin-bottom: -30px;}
  .team .item_1{margin-bottom: 30px;}
  .team .item_1 p{text-align: center;}
  .probe .probe_block .pic_1{position: static; margin: 0 auto;}
  .probe .probe_block{padding: 20px;}
  .probe .probe_block p{text-align: center;}
  .probe .probe_block form{text-align: center;}
  .product h2 i{display: none;}
  .about .list_2 .item_1 .tabs_items .item .image_block{width: 300px;}
  .about .list_2 .item_1 .tabs_links ul li{width: 144px;}
  .about .list_2 .item_1 .block_2 p{font-size: 16px; line-height: 18px;}
  .aside .block{height: auto;}
  .about .list_2 .item_2 p{font-size: 16px; line-height: 18px;}
  .about .list_2 .item_4 .text p{font-size: 16px; line-height: 18px;}
  .about .list_2 .item_5 .text p{font-size: 16px; line-height: 18px;}
  .about .list_2 .item_6 .text p{font-size: 16px; line-height: 18px;}
  .about .list_2 .item_7 p{font-size: 16px; line-height: 18px;}
  .about .list_2 .item_8 ul li p{font-size: 16px; line-height: 18px;}
  .about .list_2 .item_9 p{font-size: 16px; line-height: 18px;}
  .about .list_2 .item_9 .block{display: block;}
  .about .list_2 .item_9 .block .block_1{width: 100%; margin-left: 0;}
  .cards .cards_block .tabs_items .item.active{width: 200px;}
  .cards .cards_block .tabs_items .item .image_block{width: 150px; margin: 0 auto;}
  .contact .item_1 .image_block{width: 300px;}
  .contact .item_1{width: 100%;}
  .contact .item_1 .text_block h3{font-size: 16px; line-height: 21px;}
  .contact .item_1 .text_block p{font-size: 14px;}
  .contact .item_1 .text_block .span_4{margin-right: 0;}
  .contact .item_1 .text_block .span_2{margin-right: 40px;}
  .contact .item_1 .text_block .span_3{margin-right: 65px;}
  .texture .list_2 .items:hover .hover{display: none;}
  .catalogue .list_2 .items:hover .hover{display: none;}
  .texture .list_2 h1{font-size: 35px;}
  .texture .list_2 .item_1 .sel{margin: 0; width: 180px;}
  .texture .list_2 .item_1 span{font-size: 16px; line-height: 20px;}
  select.nice, .selectBox{font-size: 16px;}
  .texture .list_2 .item_1 .link a{font-size: 16px;}
  .solve .tabs_links{margin-bottom: 20px;}
  .solve .tabs_links ul li{width: 100%;}
  .solve .block h2{text-align: center; margin-bottom: 20px;}
  .solve .block h2 em{display: none;}
  .solve .list{padding-bottom: 70px;}
  .solve .block_1 a{bottom: -400px;}
  .result .row{justify-content: center; ,bottom: -30px;}
  .result .item .image_block{margin-right: 10px; zoom:1; -moz-transform: scale(1);}
  .result .item p{font-size: 16px; line-height: 20px;}
  .result .item{margin-bottom: 30px;}
	.example .slider_2 .slide{width:100%; box-sizing:border-box;}
	.example .block_1{width:35%;}
	.new .item_2 .slide{flex-direction:column;}
	.slider_5{margin-right:0; margin-top:40px;}
	.new_2 .item_2 .image_block{width:100%;}
	.new .item_2 .image_block{width:100%;}
  .catalogue .list_2 .item_1 span{font-size: 16px; line-height: 20px;}
  .catalogue .list_2 .item_1 .link a{font-size: 16px;}
  .catalogue .list_2 .item_1 .sel{margin: 0; width: 180px;}
  .new_2 h1 i{display: none;}
  .new h1 i::before{display: none;}
  .new .slider_1 .owl-prev{left: 0;}
  .new .slider_1 .owl-next{right: 0;}
  .new_3 .slider_1 .owl-prev{left: 0; top: 53%; margin-top: 0;}
  .new_3 .slider_1 .owl-next{right: 0; top: 53%; margin-top: 0;}
  .solve .block h2 i::after{display: none;}
}

@media screen and (max-width: 800px){
  .popup{width: 100%; padding: 40px 20px 20px;}
}

@media screen and (max-width: 767px){
  #footer .list_1{margin-bottom: 30px;}
  #footer .list_1 .logo{margin: 0 auto;}
  #footer .list_1 p{text-align: center;}
  .photo h2{font-size: 30px; line-height: 40px; max-width: 100%;}
  .photo .col-12{box-sizing: border-box;}
  .reliable h2{font-size: 30px; line-height: 38px;}
  .territory h2{font-size: 30px; line-height: 35px;}
  .map h2{font-size: 30px; line-height: 36px;}
  .probe .probe_block form > div{display: block;}
  .probe .probe_block form > div + div{margin-top: 20px;}
  .probe .probe_block form input{margin: 0 auto;}
  .probe .probe_block form button{margin: 0 auto;}
  .probe .probe_block p{font-size: 30px; line-height: 34px;}
  .probe .probe_block p em{display: none;}
  .probe .probe_block p i::before{display: none;}
  .choice .item{margin-bottom: 70px;}
  .choice .row{margin-bottom: -70px;}
  .aside .block_2 img{zoom:1; -moz-transform: scale(1); top: -10px;}
  .aside .block_2{height: 120px;}
  .aside .block img{zoom:1; -moz-transform: scale(1);}
  .about .list_1{margin-bottom: 40px;}
  .cards .list_2 .cards_block{display: block;}
  .cards .list_1{margin-bottom: 30px;}
  .cards .list_2 .cards_block .tabs_block{max-width: 100%; margin-right: 0;}
  .cards .cards_block .tabs_items .item.active{width: 100%;}
  .cards .cards_block .tabs_items .item .image_block{width: auto;}
  .cards .cards_block .tabs_links ul li span{background-size: cover;}
  .cards .cards_block .tabs_links ul li + li{margin-left: 10px;}
  .catalogue .list_1{margin-bottom: 40px;}
  .catalogue .list_2 .item_1 .sel{margin: 0;}
  .contact .list_1{margin-bottom: 40px;}
  .texture .list_1{margin-bottom: 40px;}
  .about .list_2 .item_3{display: block;}
  .about .list_2 .item_3 .block_2::before{display: none;}
  .about .list_2 .item_3 .block_4::before{display: none;}
  .about .list_2 .item_3 .block_3::before{display: none;}
  .about .list_2 .item_3::after{display: none;}
  .about .list_2 .item_3 .block_3 + .block_3{margin-left: 0;}
  .about .list_2 .item_3 .block_1{width: 100%; text-align: center; margin-top: 45px;}
  .about .list_2 .item_3 .block_1:nth-child(5){width: 100%;}
  .result .item{text-align: center;}
  .result .item .image_block{display: block;}
  .result .item p{display: block;}
  .result .item .image_block img{margin: 0 auto;}
  .step_2 .row{display: block; text-align: center;}
  .step_2 p{display: block; text-align: center;}
  .step_2 .block span{display: block; text-align: center;}
  .step_2 .block{display: block;}
  .decorative .tabs_items .col-lg-3{margin-bottom: 20px;}
  .decorative .tabs_items{justify-content: center;}
  .decorative .tabs_links{text-align: center;}
  .decorative .tabs_links li::before{display: none;}
  .new_2 h1{font-size: 30px; line-height: 36px;}
  .new_2 h1 span{font-size: 30px; line-height: 36px;}
  .new h1{font-size: 30px; line-height: 36px;}
}

@media screen and (max-width: 659px){
  .reliable .item_4{display: block; margin: 0 auto 20px;}
  .reliable .item_5{margin: 0 auto;}
  .speech .container{padding: 20px;}
  .speech .speech_block{padding: 50px 10px; width:auto; height: auto;}
  .speech h2{font-size: 30px; line-height: 35px; text-align: center;}
  .about .list_2 .item_1{display: block;}
  .about .list_2 .item_1 .block_1{margin-right: 0; margin-bottom: 20px;}
  .about .list_2 .item_1 .tabs_items{width: 100%;}
  .about .list_2 .item_1 .tabs_items .item .image_block{width: 100%;}
  .about .list_2 .item_1 .tabs_links ul li{width: 100%;}
  .cards .list_2 .cards_link a{display: block; margin: 0 auto;}
  .cards .list_2 .cards_link a + a{margin-left: 0;}
  .cards .list_2 .cards_link a:nth-child(2){margin: 20px auto 0;}
  .catalogue .list_2 .item_1 span{display: block;}
  .catalogue .list_2 .item_1 .sel{display: block; margin: 20px 0;}
  .catalogue .list_2 .item_1 .link{display: block;}
  .catalogue .list_2 .row_2{display: block; margin-right: 0;}
  .catalogue .list_2 .items{width: 100%; padding: 0;}
  .catalogue .list_2 h1{font-size: 26px; line-height: 35px;}
  .catalogue .list_2 .items p{text-align: center;}
  .catalogue .list_2 .row_2 .block p::after{display: none;}
  .catalogue .list_2 .row_2 .block span{display: block; text-align: center;}
  .contact .item_1{display: block;}
  .contact .item_1 .image_block{width: 100%;}
  .contact .item_1 .image_block a{background-size: cover;}
  .contact .item_3 .row_2{display: block; margin-right: 0; margin-bottom: -30px;}
  .contact .item_3 .items{width: 100%; padding-right: 0; margin-bottom: 30px;}
  .texture .list_2 .row_2{display: block; margin-right: 0;}
  .texture .list_2 .items{width: 100%; padding-right: 0;}
  .texture .list_2 .item_1 span{display: block;}
  .texture .list_2 .item_1 .sel{display: block; margin: 20px 0;}
  .texture .list_2 .item_1 .link{display: block;}
  .example .slider_2 .slide{ flex-direction:column;}
  .example .block_1{width:100%; margin:0 0 20px 0;}
  .example .tabs_links ul li{width:48.5%;}
  .catalogue .list_2 .items .link{text-align: center;}
  .catalogue .list_2 .items span{display: block; text-align: center;}
  .contact .item_3 .items .image_block a{background-size: cover;}
  .new_2 h1 em::before{display: none;}
}

@media screen and (max-width: 575px){
  #header .header_top .logo{margin: 0 auto 20px;}
  #header .header_bot .menu.active{top: -155px; width: 200px;}
  #header .header_bot .list_1 .menu_list{width: 200px; left: 185px;}
  #footer{text-align: center;}
  #footer .list_5{text-align: center;}
  #footer .list_5 span{text-align: center;}
  #footer h3{font-size: 16px;}
  #footer .list_2 ul li a{font-size: 15px;}
  #footer .list_2{margin-bottom: 30px;}
  .photo h2{font-size: 25px; line-height: 29px;}
  .territory h2{font-size: 27px;}
  .catalog h2{font-size: 30px; line-height: 35px;}
  .catalog h2::before{display: none;}
  .decision h2{font-size: 30px; line-height: 35px;}
  .step .title h2{font-size: 27px; line-height: 32px;}
  .step .title h2 i::before{display: none;}
  .choice h2{font-size: 30px; line-height: 34px;}
  .product h2{font-size: 30px; line-height: 35px;}
  .about h1{font-size: 30px; line-height: 35px; text-align: center;}
  .about .list_2 .item_4{display: block;}
  .about .list_2 .item_5{flex-direction: column-reverse;}
  .about .list_2 .item_6{display: block;}
  .about .list_2 .item_4 .image_block{width: 100%; margin-left: 0;}
  .about .list_2 .item_5 .image_block{width: 100%; margin-right: 0; margin-top: 20px;}
  .about .list_2 .item_6 .image_block{width: 100%; margin-left: 0; margin-top: 20px;}
  .about .list_2 .item_4 .text{width: 100%;}
  .about .list_2 .item_5 .text{width: 100%;}
  .about .list_2 .item_6 .text{width: 100%;}
  .about .list_2 .item_7 .block{display: block;}
  .about .list_2 .item_7 .block p{text-align: center;}
  .cards .list_2 .title h2{font-size: 30px; line-height: 35px;}
  .cards .list_2 .cards_tab .tabs_items .block.active{display: block;}
  .cards .list_2 .cards_tab .tabs_items .block .block_1{padding-right: 0;}
  .cards .list_2 .cards_tab .tabs_items .block .block_1 + .block_1{margin-top: 20px;}
  .contact .item_2 h2{font-size: 28px; line-height: 32px;}
  .texture .list_2 h1{font-size: 26px; line-height: 34px;}
  .popup h2{font-size: 30px; line-height: 34px;}
  #spasibo{width: 100%; padding: 40px 20px 20px;}
  .solve .block h2{font-size: 30px; line-height: 36px;}
  .solve .list{padding: 30px 15px 70px;}
  .decorative h2{font-size: 30px; line-height: 35px;}
  #header .header_top .text{margin-top: 0;}
}

@media screen and (max-width: 500px){
  .product .slider_4 .owl-dot{width: 16px; height: 16px; margin: 0;}
  .product .slider_4 .owl-dot::after{width: 6px; height: 6px; margin: -3px 0 0 -3px;}
  .cards .list_2 .cards_tab .tabs_links ul li + li{margin-left: 7px;}
}

@media screen and (max-width: 452px){
  #header .header_bot .menu.active{top: -225px; width: 180px;}
  #header .header_bot a{font-size: 12px; line-height: 15px;}
  #header .header_bot .list_1 .menu_list{left: 100px;}
  #header .header_bot .list_1 .menu_list li a{font-size: 14px; line-height: 15px;}
  .speech .speech_block::before{zoom:0.7;}
  .speech .speech_block::after{zoom:0.7;}
  .map h2{font-size: 27px; line-height: 33px;}
  .step a{zoom: 0.8;}
  .step .block span{font-size: 50px; line-height: 56px;}
  .team .link{zoom: 0.8;}
  .team h2{font-size: 30px; line-height: 34px;}
  .cards .list_2 .cards_tab .tabs_links ul li{display: block;}
  .cards .list_2 .cards_tab .tabs_links ul li + li{margin: 20px 0 0;}
  .popup form input{width: 100%;}
  .popup form button{width: 100%;}
}

@media screen and (max-width: 380px){
  .reliable .item_4 a{zoom: 0.9;}
  .reliable .item_5 a{zoom: 0.9;}
  .territory .item_2 .block{width: 280px; padding: 10px 10px 55px;}
  .territory .item_1 .link{width: 100%;}
  .speech .container .pic_1{zoom:0.7;}
  .step a{zoom: 0.7;}
  .team .link{zoom: 0.7;}
  .probe .probe_block .pic_1{zoom: 0.5;}
  .probe .probe_block form input{width: 100%;}
  .probe .probe_block form button{width: 256px;}
  .cards .list_2 .text_block .text_2 p{font-size: 11px;}
}
