@font-face {
    font-family: 'MyriadPro';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.ttf') format('truetype'),
    url('MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: 'MyriadPro', sans-serif;
}

.font-l {
    font-size: 18px;
}

.font-xl {
    font-size: 22px;
}

.font-xxl {
    font-size: 26px;
}
